<ion-content style="padding-bottom: 60px;" scrollPadding="false">
  <!-- Contenido del componente aquí -->
   <br><br>
  <ion-title>
    Viajes Tomados
  </ion-title>
  <br>
  <ion-card *ngIf="viajesUsuario.length > 0">
    <ion-list>
      <ion-item *ngFor="let viaje of viajesUsuario">
        <ion-label>
          <h2>Inicio: {{ viaje.direccionInicio }}</h2>
          <h2>Final: {{ viaje.direccionFinal }}</h2>
          <p>Distancia: {{ viaje.distancia }} km</p>
          <p>Precio: ${{ viaje.precio }} </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card *ngIf="viajesUsuario.length === 0">
    <ion-card-content>
      <p>No tienes viajes tomados.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
