<ion-content [fullscreen]="true" class="ion-padding-horizontal ion-padding-vertical">
  <div class="ion-text-center ion-margin-top">
    <img class="img" src="assets/icon/logoapp.png" />
  </div>
  <ion-content>
    <div class="profile-header">
      <ion-avatar class="profile-avatar">
        <img src="assets/icon/perfil1.jpg" alt="Profile Icon">
      </ion-avatar>
      <ion-label class="profile-name">Juan Pérez</ion-label>
    </div>
  
    <ion-list class="profile-info">
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input value="Juan" readonly></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input value="Pérez" readonly></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Fecha de Nacimiento</ion-label>
        <ion-input value="10 de Octubre, 1995" readonly></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Rol</ion-label>
        <ion-input value="Pasajero" readonly></ion-input>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
