<ion-content class="ion-padding">
  <!-- Lista de Viajes -->
  <ion-list>
    <ion-item *ngFor="let viaje of viajes">
      <ion-label>
        <h2>Viaje: {{ viaje.direccionInicio }} -> {{ viaje.direccionFinal }}</h2>
        <p>Estado: {{ viaje.estado }}</p>
        <p>Precio: ${{ viaje.precio }}</p>
        <p>Cupos Disponibles: {{viaje.cupos}} </p>
      </ion-label>
      <ion-button (click)="deleteViaje(viaje.id)" fill="clear" color="danger">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
