<ion-content>
  <!-- 
    Se establece un titulo que este separadp de del <ion-content>
    mediante el class ion-padding-top
    y que el texto <ion-label> y su contenido este centrado
    mediante el class ion-text-center
    See: https://ionicframework.com/docs/layout/css-utilities#text-alignment
    See: https://ionicframework.com/docs/layout/css-utilities#element-padding
  -->
  <div class="ion-text-center ion-margin-top">
    <img class="img" src="assets/icon/logoapp.png"/>
  </div>

  <!--
    Se genera una división donde estara el contenido del login
    para esto se utilizara ion-padding-vertical que aplica un
    relleno arriba y abajo de 16px por defecto
    See: https://ionicframework.com/docs/layout/css-utilities#element-padding
  -->
  <div class="ion-padding-vertical">
    <!--
      Se establece un card que contendra un titulo
      y un contenido
    -->
    <ion-card  color="transparent" class="ion-text-center" >
      <ion-card-title>
        <ion-label class="ion-padding ion-border">
          <h1>Bienvenido!</h1>
        </ion-label>
      </ion-card-title>
      <ion-card-content>
        <ion-item>
          <ion-input type="email" fill="solid" label="Email" labelPlacement="floating" helperText="Enter a valid email" errorText="Invalid email" ngModel email [(ngModel)]="login.Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input class="ion-margin-top" type="password" label="Contraseña" labelPlacement="floating" [(ngModel)]="login.Password"></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-row>
        <ion-col col-6>
          <ion-button color="secondary" shape="block" (click)="ingresar()" class="ion-margin">
            Ingresar
          </ion-button>
        </ion-col>
        <ion-col col-6>
          <ion-button color="secondary" shape="block" (click)="registrar()" class="ion-margin">
            Registro
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-label>
          <a href="/backup">¿Olvidaste tu contraseña?</a>
      </ion-label>

    </ion-card>
  </div>
  
</ion-content>
