.img{
    padding:25px;
    width:200px;
    align-self:center;
}
.estado-select{
    font-size: medium;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.precio{
    display: flex;
    width: 30%;
    margin: auto;
    align-items: center;
}