<ion-header>
  <div class="ion-text-center ion-margin-top">
    <img class="img" src="assets/icon/logoapp.png" />
  </div>
</ion-header>
<ion-content>
  <div class="ion-padding-vertical">
      <ion-card-title>
        <ion-label class="ion-padding ion-border ion-text-center">
          <h1>Recuperar contraseña</h1>
        </ion-label>
      </ion-card-title>
      <ion-card-content>
        <ion-item>
          <ion-input type="email" fill="solid" label="Email" labelPlacement="floating" helperText="Enter a valid email" errorText="Invalid email" ngModel email [(ngModel)]="backup.Email"></ion-input>
        </ion-item>
        <ion-button color="secondary" shape="block" (click)="recuperar()">
          Recuperar
        </ion-button>
        <ion-button color="secondary" shape="block" (click)="volverAlLogin()">
          Volver al Login
        </ion-button>
      </ion-card-content>
  </div>
</ion-content>
