<ion-content [fullscreen]="true" class="ion-padding-horizontal ion-padding-vertical">
  <div class="ion-text-center ion-margin-top">
    <img class="img" src="assets/icon/logoapp.png" />
  </div>
  <div>
    <div class="title-container">
      <ion-label>
        <h1>Hola, </h1>
      </ion-label>
    </div>
  </div>
  <br>
  <div>
    <!-- Barra de búsqueda -->
    <ion-searchbar #searchInput animated="true" placeholder="¿A dónde quieres ir?" position="stacked"></ion-searchbar>
  </div>

  <!-- Contenedor del mapa -->
  <div #map id="map" style="height: 80%;"></div>
  
  <!-- Menú horizontal -->
  <ion-footer>
    <ion-toolbar>
      <ion-segment>
        <ion-segment-button value="viajes">
          Viajes
        </ion-segment-button>
        <ion-segment-button value="perfil">
          Perfil
        </ion-segment-button>
        <ion-segment-button value="configuración">
          Configuración
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-footer>
</ion-content>
