<ion-content [fullscreen]="true" class="ion-padding-horizontal ion-padding-vertical">
  <div class="ion-text-center ion-margin-top">
    <img class="img" src="assets/icon/logoapp.png" />
  </div>
  <div>
    <div class="title-container">
      <ion-label>
        <h1>Hola, </h1>
        <p *ngIf="usuario">Usuario: {{usuario}}</p>
      </ion-label>
    </div>
  </div>
  <br>
  <div>
    <ion-searchbar animated="true" placeholder="¿A dónde quieres ir?" position="stacked"></ion-searchbar>
  </div>
  <div #map id="map"></div>
</ion-content>
