<ion-content [fullscreen]="true" class="ion-padding-horizontal ion-padding-vertical">
  <ion-header>
    <ion-icon name="arrow-back-sharp"></ion-icon>
    <img class="img" src="assets/icon/logoapp.png"/>
  </ion-header>
  <div>
    <div class="title-container">
      <ion-label>
        <h1>Bienvenido</h1>
      </ion-label>
    </div>
  </div>
  <br>
  <div>
    <b class="ion-text-center">
      <h4>Informacion Adicional</h4>
    </b>
    <ion-item class="ion-padding-horizontal">
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="data.nombre"></ion-input>
    </ion-item>
    <ion-item class="ion-padding-horizontal">
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="data.apellido"></ion-input>
    </ion-item>
    <ion-item class="ion-padding-horizontal">
      <ion-label position="stacked" class="ion-padding-bottom">Genero</ion-label>
      <ion-select [(ngModel)]="data.genero">
        <div class="genero-select" slot="label">Seleccione Genero</div>
        <ion-select-option *ngFor="let g of generos" [value]="g.id">{{g.genero}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="ion-padding-horizontal">
      <ion-label position="stacked" class="ion-padding-bottom">Fecha nacimiento</ion-label>
      <ion-input type="date" [(ngModel)]="data.nacimiento"></ion-input>
    </ion-item>
    <ion-item>
      <!-- <ion-label position="stacked" class="ion-padding-bottom">Email</ion-label> -->
      <ion-input type="email" fill="solid" label="Email" labelPlacement="floating" helperText="Enter a valid email" errorText="Invalid email" ngModel email ngModel email [(ngModel)]="data.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="ion-padding-bottom">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="data.password"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-button color="secondary" shape="block"  (click)="limpiar()">
            Limpiar
          </ion-button>
        </ion-col>
        <ion-col col-6>
          <ion-button color="secondary" shape="block"  (click)="mostrar()">
            Mostrar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
