<ion-header>
  <div class="ion-text-center ion-margin-top">
    <img class="img" src="assets/icon/logoapp.png" />
  </div>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding-horizontal ion-padding-vertical">
  <div class="ion-text-center ion-margin-top">
    <img class="img" src="assets/icon/logoapp.png"/>
  </div>
  <br>
  <form (ngSubmit)="registrar()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="data.name" name="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="data.email" name="email" type="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="data.password" name="password" type="password" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">RUT</ion-label>
      <ion-input [(ngModel)]="data.rut" name="rut" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Rol</ion-label>
      <ion-select [(ngModel)]="data.rol" name="rol" required>
        <ion-select-option value="Conductor">Conductor</ion-select-option>
        <ion-select-option value="Pasajero">Pasajero</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="full" color="secondary" type="submit">Registrar</ion-button>
    <ion-button expand="full" color="secondary" (click)="volverAlLogin()">Volver al Login</ion-button>
  </form>
</ion-content>
